@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,800;1,100&display=swap');

body {
  background-color: #4C566A;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/* navigation bar */
.navigationbar {
  background-color: #2E3440;
}
.navbar-brand {
  margin-left: 0.5rem;
}
@media (min-width: 601px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .navbar-nav .nav-link {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.nav-link {
  border: none;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(235, 203, 139, 1);
}
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #3B4252;
  border-radius: 0.5rem;
  border: none;
  color: rgba(235, 203, 139, 1);
}
.navbar-dark .navbar-nav .show>.nav-link {
  color: rgba(235, 203, 139, 1);
  /* background-color: #3B4252;
  border-radius: 0.5rem;
  border: none; */
}
.dropdown-menu {
  font-size: 14px;
  color: #2E3440;
  background-color: #D8DEE9;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: #ECEFF4;
}
.dropdown-item.active {
  color: #2E3440;
  background-color: #ECEFF4;
}

.navbar-dark .navbar-nav .nav-link.nav-dashboard {
  color: rgba(191, 97, 106, 1);
}
.navbar-dark .navbar-nav .nav-link.nav-search {
  color: rgba(208, 135, 112, 1);
}
.navbar-dark .navbar-nav .nav-link.nav-logout {
  color: rgba(180, 142, 173, 1);
}
.navbar-dark .navbar-nav .nav-link.nav-register {
  color: rgba(235, 203, 139, 1);
}
.navbar-dark .navbar-nav .nav-link.nav-login {
  color: rgba(163, 190, 140, 1);
}

.navbar-dark .navbar-nav .nav-link.active {
  background-color: #3B4252;
  border-radius: 0.5rem;
  border: none;
}

/* form */
.form-container {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

/* tab */
.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 2px solid #2E3440;
}

.ant-tabs-tab, .ant-tabs-tab + .ant-tabs-tab {
  margin-left: 1rem;
  margin-right: 1rem;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #88C0D0;
  text-shadow: none;
}

.ant-tabs-tab-btn:active {
  color: #88C0D0;
}

.ant-tabs-tab:hover {
  color: #88C0D0;
}

.ant-tabs {
  color: #D8DEE9;
  padding: 1rem;
  background: #3B4252;
  border: 1px solid #2E3440;
}

.ant-tabs-ink-bar {
  background: #88C0D0;
}

/* form */
.ant-form {
  padding: 1rem;
}

.ant-input {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.error-message {
  color: #BF616A;
  text-align: center;
}

/* button css */
.ant-btn-primary {
  color: #ECEFF4;
  background: #5E81AC;
  background-color: #5E81AC;
  border-color: #5E81AC;
  border-radius: 0.25rem;
}

.ant-btn-primary:hover, .ant-btn:hover, .ant-btn:focus {
  color: #ECEFF4;
  background: #4d6a8d;
  border-color: #4d6a8d;
}

/* spinner */
.center-spinner {
  display: flex;
  justify-content: center;
}
/* card css */
.ant-card {
  background: #434C5E;
}
.ant-card-head {
  color: #D8DEE9;
  border-bottom: #2E3440;
}
.ant-card-bordered {
  border-color: #2E3440;
}

/* modal */
.ant-modal-content {
  background-color: #ECEFF4;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
  color: #2E3440;
}