.container-header {
  padding: 10px;
  text-align: center;
  border: 0px;
}
.site-container {
  font-size: 40px;
  color: #c86466;
}
.featured-container {
  text-align: center;

  height: 250px;
}
.featured-col {
  padding: 25px;
}
.featured-img {
  border-radius: 5px;
  border: 1px solid #88c0d0;
  margin-top: 20px;
  object-fit: fill;
  height: 200px;
  width: 200px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) insert;
}
.featured-img:before,
.featured-img:after {
}
button {
  background-color: transparent;
  border: 0px;
}
.row {
  border: 1px solid red;
  margin-right: 0px;
  margin-left: 0px;
}
