.container-header {
  padding: 50px;
  text-align: center;
  border: 0px;
}
.site-container {
  /* border: 1px solid black; */
  font-size: 40px;
  color: #c86466;
}
/* body {
  background-image: url("https://myrepublic.net/sg/content/uploads/2020/07/different-game-controls.jpg");
  background-size: cover;
} */
.carousel-container {
  border: 1px solid #2e3440;
}
.featured-container {
  text-align: center;
  padding: 70px 200px 0px 200px;
  height: 400px;
}
.featured-col {
  border: 1px solid transparent;
}
.featured-img {
  padding: 20px 0px 20px 0px;

  object-fit: fill;
}
button {
  background-color: transparent;
  border: 0px;
}
.row {
  border: 1px solid #2e3440;
}
img {
  height: 200px;
  width: 200px;
}
